# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
VENV/
pip-log.txt
pip-delete-this-directory.txt
*.pytest_cache/
.coverage

# Pipenv
Pipfile.lock

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Environment variables
.env

# Logs
*.log
logs/
*.log.*

# CI/CD
.cache

# ESLint
.nx/cache
.nx/workspace-data

# Misc
/docs
./backend/sql/docs


./backend/__pycache__/*