[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
httpx = "*"
sqlalchemy = "*"
psycopg2 = "*"
requests = "*"
uvicorn = "*"
python-dotenv = "*"
docker = "*"
psycopg2-binary = "*"


[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
