<div>
    <!-- Existing content -->
  
    <!-- Button to toggle the text box -->
    <button (click)="toggleGeoJSONtextfield()" class="btn json-btn mb-3">
      {{ allowDrop ? 'Remove GeoJSON' : 'Add GeoJSON to Map' }}
    </button>
  
    <!-- Large text box that appears when allowDrop is true -->
    <textarea *ngIf="allowDrop" rows="10" cols="30" border-radius="5" placeholder="Enter GeoJSON here"></textarea>

    <button *ngIf="allowDrop" (click)="uploadGeoJSON()" class="btn json-btn mb-3"> </button>
  </div>
  