// Edit Button
$white: #ffffff;
$color-edit-btn-bg: #004c97;
$color-edit-btn-hover-bg: #0056b3;
$border-radius: 5px;



// Mixin for transitions
@mixin transition($property, $duration, $ease) {
  transition: $property $duration $ease;
}

.json-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: $white;
  background-color: $color-edit-btn-bg;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  @include transition(background-color, 0.3s, ease);

  &:hover {
    background-color: $color-edit-btn-hover-bg;
  }
}

