th {
  color: white;
  background-color: #004c97;
  cursor: pointer;
  text-decoration: underline;
}


th:hover {
  color: darkblue;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-title {
  color: #004c97;
  font-size: 2.5em; /* Increase the font size */
  font-family: 'Arial', sans-serif; /* Change the font family */
  font-weight: bold; /* Make the font bold */
}

.search-container p-dropdown {
  margin-right: 10px; /* Add margin to the right of the dropdown */
    }
