<div class="w-100% m-10">
  <span>
    <div class="search-container">

    <p-dropdown 
    [options]="groupOptions" 
    [(ngModel)]="groupByField" 
    placeholder="Sort By" 
    (onChange)="onGroupChange($event)">
    
  </p-dropdown>
    <input
      class="my-5 border p-2"
      id="searchbar"
      pInputText
      type="text"
      [(ngModel)]="searchValue"
      placeholder="Search"
      (input)="onSearch($event)"
    />
    </div>
 

  </span>
  <p-table
    #dt1
    [value]="products"
    [scrollable]="true"
    scrollHeight="900px"
    [(selection)]="selectedProduct"
    dataKey="id"
    selectionMode="single"
    [globalFilterFields]="globalFilterFields"
    [groupRowsBy]="groupByField"
    [sortField]="groupByField"
    [sortMode]="'single'"
    [sortOrder]="1"
    (onRowSelect)="onInquiryClick(selectedProduct.inquiry_id)"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
        <th>Email</th>
        <th>Municipality</th>
        <th>Address</th>
        <th>Deadline</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr [pSelectableRow]="product">
        <td>{{ product.inquiry_id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.status_name }}</td>
        <td>{{ product.mail }}</td>
        <td>{{ product.municipality }}</td>
        <td>{{ product.address }}</td>
        <td>{{ product.processing_deadline }}</td>
        <td>{{ product.start_date }}</td>
        <td>{{ product.end_date }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
