:host {
  min-height: 100vh;

  display: flex;
  flex-direction: row;
}

.sidenav {
  height: 100vh;
  width: var(--sidenav-width);

  box-sizing: border-box;
}

.map {
  flex-grow: 1;
  height: 100vh;
}

.controls {
  position: absolute;
  top: 100px; /* Changed from top to bottom */
  right: 20px; /* Changed from left to right */
  background: rgba(63, 63, 63, 0.849); /* semi-transparent white background */
  padding: 20px;
  border-radius: 8px;
  z-index: 100;
  width: min-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: rgb(170, 170, 170);
}
