:host {
  min-height: 100vh;

  display: flex;
  flex-direction: row;
}

.sidenav {
  height: 100vh;
  width: var(--sidenav-width);

  box-sizing: border-box;
}

.map {
  flex-grow: 1;
  height: 100vh;
}

#cesiumContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
