<h1>Hello Map View</h1>
<head>
  <base href="/">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://unpkg.com/primeflex/primeflex.css" rel="stylesheet" />
        <link href="https://unpkg.com/primeicons/primeicons.css" rel="stylesheet" />
        <link href="https://unpkg.com/quill@1.3.7/dist/quill.snow.css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="https://primefaces.org/cdn/primeng/images/favicon.png">
</head>
<div>
    <div class="h-80%" id="cesiumContainer" appCesium>
    <div id="toolbar">
      <table>
        <tbody>
          <tr>
            <td>Translucency enabled</td>
            <td>
              <input type="checkbox" [value]="viewModel.translucencyEnabled" (change)="updateCesium()">
            </td>
          </tr>
          <tr>
            <td>Fade by distance</td>
            <td>
              <input type="checkbox" [value]="viewModel.fadeByDistance" (change)="updateCesium()">
            </td>
          </tr>
          <tr>
            <td>Alpha</td>
            <td>
              <input type="range" min="0.0" max="1.0" step="0.1" [value]="viewModel.alpha" (change)="updateCesium()">
              <input type="text" size="5" [value]="viewModel.alpha" (change)="updateCesium()">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>

    
    
