<div class="card">
  <p-treeTable
    [value]="files"
    [columns]="cols"
    selectionMode="checkbox"
    [(selectionKeys)]="selectionKeys"
    dataKey="key"
    [scrollable]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-rowNode
      let-rowData="rowData"
      let-columns="columns"
    >
      <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
        <td *ngFor="let col of columns; let i = index">
          <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0" />
          <p-treeTableCheckbox [value]="rowNode" *ngIf="i === 0" />
          {{ rowData[col.field] }}
        </td>
      </tr>
    </ng-template>
  </p-treeTable>
</div>
