a {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: flex-start;

  gap: 8px;

  min-width: 100px;

  padding: 16px;

  box-sizing: border-box;

  text-decoration: none;
  color: #000;
  border-radius: 4px;

  transition: background-color 75ms ease-out;

  .text-container {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:hover {
    background-color: #e62121;
  }

  &.active {
    background-color: #004c97;
    font-weight: bold;
    color: rgb(9, 22, 63);
  }
}
