<div class="sidenav-body-container h-100%">
  <div class="sidenav overflow-scroll" style="padding: 1rem">
    <div class="sidenav-body">
      <app-sidenav-link routerLink="/">
        <span icon>🏠</span>

        <span class="text-white">Home</span>
      </app-sidenav-link>
    </div>
    <app-cable-measurement-info></app-cable-measurement-info>
    <!--
    <div
      class="resize-handle"
      (mousedown)="startResizing($event)"
      [class.resizing]="resizingEvent.isResizing"
    ></div>-->
  </div>
</div>
