@import 'primeng/resources/themes/viva-light/theme.css';
@import 'primeng/resources/primeng.css';
@import 'primeng/resources/primeng.min.css';

@tailwind base;
@layer primeng;
@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

html,
body,
div[appCesium] {
  margin: 0;
  padding: 0;
}
:root {
  --sidenav-width: 400px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.custom-snackbar-container {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: 9999 !important;
  min-width: 300px !important;
  text-align: center !important;
  font-size: 16px !important;
}
